.menu-button {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-background-radius: 0px;
}

.menu-button:hover {
    -fx-background-color: #CFD8DC;
}

.page-title {
    -fx-font-size: 25px;
}

.page-container, .page {
    -fx-background-color: white;
    -fx-background: white;
}

.song-list-header {
    -fx-font-weight: bold;
}

.borderless-scrollpane {
    -fx-background-color: transparent;
}

.borderless-scrollpane .viewport {
    -fx-background-color: transparent;
}

.player-button {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 6px;
}

.player-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.player-slider .track {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-style: none;
    -fx-pref-height: 2px;
}

.player-slider .thumb {
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-pref-height: 20px;
    -fx-pref-width: 6px;
}

.player-volume-slider .track {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-style: none;
    -fx-pref-height: 2px;
}

.player-volume-slider .thumb {
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-pref-height: 14px;
    -fx-pref-width: 14px;
}

.action-button {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 6px;
}

.action-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.bold-title {
    -fx-font-size: 18px;
}

.at-hbox-add {
    -fx-background-color: aliceblue;
    -fx-opacity: 1;
    -fx-alignment: center;
    -fx-background-insets: 0 4 0 4;
    -fx-spacing: 12;
    -fx-padding: 0 10 0 10;
    -fx-fill-height: true;
}

.at-hbox-add:hover {
    -fx-background-color: lightblue;
}

.dt-hbox-base {
    -fx-background-color: white;
    -fx-opacity: 1;
    -fx-alignment: center;
    -fx-background-insets: 0 4 0 4;
    -fx-spacing: 12;
    -fx-padding: 0 10 0 10;
    -fx-fill-height: true;
}

.dt-hbox-base:hover {
    -fx-background-color: aliceblue;
}

.dt-btn-default {
    -fx-border-width: 1;
    -fx-min-width: 24;
    -fx-min-height: 24;
    -fx-max-width: 24;
    -fx-max-height: 24;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-background-color: aliceblue;
    -fx-border-color: rgba(0, 0, 255, 0.5);
}

.dt-btn-default:hover, .dt-btn-default:focused {
    -fx-background-color: lightblue;
}

.dt-stackpane-priority {
    -fx-background-color: none;
    -fx-border-color: none;
}

.dt-stackpane-priority:hover {
    -fx-background-color: lightblue;
    -fx-border-color: rgba(0, 0, 255, 0.5);
}

/*.dt-stackpane-done {
    -fx-background-color: aliceblue;
    -fx-border-color: rgba(0, 0, 255, 0.5);
}

.dt-stackpane-done:hover {
    -fx-background-color: lightblue;
}

.dt-stackpane-add-daily-list {
    -fx-background-color: aliceblue;
    -fx-border-color: rgba(0, 0, 255, 0.5);
}

.dt-stackpane-add-daily-list:hover {
    -fx-background-color: lightblue;
}*/

.dt-lbl-task {
    -fx-min-width: 130;
    -fx-pref-width: 158;
    -fx-wrap-text: true;
}

.dt-lbl-sorting {
    -fx-min-width: 60;
    -fx-pref-width: 60;
}

.dt-btn-active {
    -fx-background-color: lightseagreen;
}

.dt-btn-active:hover {
    -fx-background-color: lightgreen;
}

.dt-lbl-done .text {
    -fx-strikethrough: true;
}

.text-input, .text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}
